<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<div>

    <h4>Name: </h4>
    <p th:text="${name}"></p>
    <h4>UserName: </h4>
    <p th:text="${username}"></p>
    <h4>Token: </h4>
    <p th:text="${token}"></p>
    <h4>Profile: </h4>
    <img src="https://lh5.googleusercontent.com/-M--7lrF58wc/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucnCQD5QZiUrQwCtN4peGbD9NtpjRw/s96-c/photo.jpg" alt="no Image">
</div>
</body>
</html>